
{% assign background = "#282A36" %}
{% assign foreground = "#F8F8F2" %}
{% assign color0 = "#44475a" %}
{% assign color4 = "#BD93F9" %}
{% assign color8 = "#6272A4" %}

{% for tag in workspace.tags %}
{% if tag.focused  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{B{{color4}}}%{F{{background}}} {{tag.name}} %{F{{background}}}%{B{{color4}}}%{B-}%{F-}
%{A}
{% elsif tag.visible  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{B{{color8}}}%{F{{foreground}}} {{tag.name}} %{F{{color8}}}%{B-}
%{A}
{% elsif tag.busy  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{B{{color0}}}%{F{{foreground}}} {{tag.name}} %{F{{foreground}}}%{B-}
%{A}
{% else %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F{{color0}}} {{tag.name}} %{F{{color0}}}%{F-}
%{A}
{% endif %}
{% endfor %}
